/* 

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.albums {
    display: grid;
    flex-wrap: wrap;
    /* margin-right: 20px; */



/* .albums a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.albums a.active {
    background-color: #ccc;
}

.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
}

.photo {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.photo img {
    width: 100%;
    border-radius: 5px;
}

h1, h2 {
    color: #333;
}

p {
    margin: 5px 0;
}  */
.container {
    display: flex;
    flex-direction: row;
  }
  
  .albums {
    flex: 1;
    margin-right: 20px;
    
  }
  
  .albums a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
  }
  .albums a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

  
  .albums a.active {
    font-weight: bold;
    background-color: #ccc;
  }
  
  .photos {
    flex: 2;
  }
  
  .photos.active {
    display: block;
  }
  
  .photo {
    margin-bottom: 20px;
    width: calc(100% / 2); 
    float: left; 
  }
  
  .photo img {
    max-width: 100%;
    height: auto; 
    margin-bottom: 10px;
  }
  p {
    margin: 10px 0;
} 
h1, h2 {
    color: blue;
}