@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.login-page {
  font-family: "Roboto", sans-serif;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
}

.icon-container {
  margin-right: 10px;
}

.icon-image {
  width: 30px;
  height: auto;
}
.google-login-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.content h1 {
  margin-bottom: 20px;
  font-family: Garamond, serif;
  font-size: 1em;
}

.content p {
  margin-bottom: 10px;
}

.content strong {
  font-weight: bold;
}
.login-page {
  font-family: Garamond, serif;
  font-size: 1em;
}

.custom-header,
.content {
  font-family: Garamond, serif;
  font-size: 1.2em;
}

h1,
p {
  font-family: Garamond, serif;
  font-size: 1.2em;
}

.home-page_cards {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.home-page_card {
  background: whitesmoke;
  width: 48%;
  padding: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .home-page_card {
    background: whitesmoke;
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
  }
}
.login-card {
  display: flex;
  justify-content: center;
}
.text {
  display: flex;
  justify-content: center;
}
