.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.header-left {
  flex-grow: 1;
}

/* .header-right {
  color: red; */
  /* Your styles for the right side of the header */
/* } */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header-right {
    align-self: flex-end;
  }
}
