.user-container {
    margin: 20px;
    padding: 20px;
    flex: 1;
  }
  
  .user-info {
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .user-info p {
    margin: 5px 0;
  }
  
  .album-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .album-list li {
    margin-bottom: 5px;
  }
  